@import '../../variables.scss';
.s13 {
	padding:120px 0px 0px 0px;

  &-text {
    max-width:900px;
    text-align:center;
    margin:0 auto;
    margin-top:40px;
  }
  &-row {
    display:flex;
    margin:0 -20px;
    margin-top:50px;
  }
  &-left {
    flex-basis:60%;
    padding:0 20px;
  }
  &-left iframe {
    width:100%;
    height:100%;
  }
  &-right {
    padding:0 20px;
    flex-basis:40%;
  }
  &-formRow {
    width:100%;
  }
  &-form-span {
  height: 20px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  }
 
  &-form-span span {
    display: block;
    font-size: 14px;
    color: rgb(159, 0, 0);
   padding: 0px 0px 0px 10px;
  }
  &-input, &-textarea {
    margin: 20px 0px 0px 0px;
    display: block;
    width:100%;
    border-radius:2px;
    border:1px solid #E8E8E8;
  }
  &-input:first-child {
    margin: 0px 0px 0px 0px;
    
  
  
  }
  &-textarea {
   
  
    border:1px solid #E8E8E8;
    border-radius:0;
    height:150px;
   
    
    
  }
  &-buttom {
    width: 100%;
    height:40px;
    background-color:$purple;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    color:#e8e8e8;
    font-size:14px;
    cursor:pointer;
    transition:all 0.3s ease .0s;
    border:1px solid $purple;
    margin:0 auto;
    margin-top: 20px;
  }
  &-buttom:hover {
    color:$purple;
    border:1px solid $purple;
    background-color:transparent;
  }
  .active-form {
    background-color: $orange;
    border:  1px solid  $orange;
    color: $purple;
  }


  @media screen and (max-width:768px) {
   & {
    padding:80px 0px 0px 0px;
  }
  &-row {
    display:flex;
    flex-direction:column;
    margin-top:50px;
  }
  &-left iframe {
    height:300px;
  }
  &-right {
    max-width:400px;
    margin:40px 0px 0px 0px; 
  }
  }
  @media screen and (max-width:500px) {
    & {
    padding:50px 0px 0px 0px;
  }
  &-text {
    margin-top:20px;
  }
  &-row {
    margin-top:30px;
  }
  }


}
